@{
    ViewBag.Title = "Index";
    List<string> cssFiles = new List<string>() { Url.Content("~/Content/jQuery.tools.dateinput.css") };
    List<string> javaScriptFiles = new List<string>() { Url.Content("~/Scripts/jQuery.tools.min.js") };
    string dateTimeOptions = "{format: 'dd/mm/yyyy'}";
}

@using HiLand.Utility4.MVC.Controls;
<h2>Index</h2>
@Html.HiDateTime().StyleSheetFiles(cssFiles).JavaScriptFiles(javaScriptFiles).DateTimeOptions(dateTimeOptions).Render()

@Html.HiTextBox().Name("city").Value("qindao").Lable("City").Render()
@Html.HiTextBox().Name("city").Value("qindao").Lable("City").UsingMode(MvcControlUsingModes.Display).Render()
@Html.HiCheckBox().Name("ssss").Value("sex").IsChecked(true).IsDisabled(true).Render()
@Html.HiCheckBox().Name("sex").Value("sex").IsChecked(true).IsDisabled(false).Description("sssssssssssss").Render()
@Html.HiRadioButton().Name("box").Value("box").IsChecked(false).IsDisabled(false).Description("sss").Render()

@{
    List<SelectListItem> list = new List<SelectListItem>();

    SelectListItem item1 = new SelectListItem();
    item1.Text = "Tqingdao";
    item1.Value = "Vqingdao";

    SelectListItem item2 = new SelectListItem();
    item2.Text = "Tbeijing";
    item2.Value = "Vbeijing";

    SelectListItem item3 = new SelectListItem();
    item3.Text = "Tshanghai";
    item3.Value = "Vshanghai";
    item3.Selected = true;
    
    list.Add(item1);
    list.Add(item2);
    list.Add(item3);
    }
@Html.HiDropDownList().OptionLabel("请选择...").ItemList(list).Render()
@Html.HiDropDownList().Value("Vbeijing").ItemList(list).UsingMode(MvcControlUsingModes.Display).Render()


@Html.HiRadioButtonList().Name("likeCity").ItemList(list).Render()
@Html.HiCheckBoxList().ItemList(list).Lable("请选择你喜欢的城市").Render()

@Html.HiTextArea().Name("hhh").Value("vv").Cols(50).Render()
<textarea disabled="disabled" cols="50" rows="9" ></textarea>
<span style="width:150px;background-color:Gray;">qigndao</span>
<em style="width:150px;background-color:Gray;">qigndao</em>
<cite style="width:150px;background-color:Gray;">ssssss</cite>
<label  style="width:150px;background-color:Gray;">ssss</label>
<div  style="width:150px;background-color:Gray;display:inline-block">div</div>
<label  style="width:150px;background-color:Gray;">lable</label>
