@{
    ViewBag.Title = "TreeTest";
}
@using HiLand.Utility4.MVC;
@using HiLand.Utility4.Data;
@using HiLand.Utility4.MVC.Controls;
@using HiLand.Utility.Enums;
<h2>TreeTest</h2>

@{
    List<string> scriptList = new List<string>();
    scriptList.Add(Url.Content("~/Scripts/jquery-1.4.4.min.js"));
    scriptList.Add(Url.Content("~/Content/ztree/js/jquery.ztree.all-3.3.min.js"));

    List<string> cssList = new List<string>();
    cssList.Add(Url.Content("~/Content/ztree/css/zTreeStyle/zTreeStyle.css"));

    string dataUrl = Url.Action("TreeData");

    string dataNodes = string.Format(@"[
            |<|id:1, pId:0, name:'北京'|>|,
			|<|id:2, pId:0, name:'天津'|>|,
			|<|id:3, pId:0, name:'上海'|>|,
			|<|id:6, pId:0, name:'重庆'|>|,
			|<|id:4, pId:0, name:'河北省', open:true, nocheck:true|>|,
			|<|id:5, pId:0, name:'广东省', open:true, nocheck:true|>|,
			|<|id:51, pId:5, name:'广州'|>|,
			|<|id:52, pId:5, name:'深圳'|>|,
			|<|id:53, pId:5, name:'东莞'|>|,
			|<|id:54, pId:5, name:'佛山'|>|,
			|<|id:41, pId:4, name:'石家庄'|>|,
			|<|id:42, pId:4, name:'保定'|>|,
			|<|id:43, pId:4, name:'邯郸'|>|,
			|<|id:44, pId:4, name:'承德'|>|]");

    dataNodes = dataNodes.Replace("|<|", "{").Replace("|>|", "}").ToString();                
    }

动态数据演示
@Html.HiTreeSelect("mytree").JavaScriptFiles(scriptList).StyleSheetFiles(cssList).DataLoadType(DataLoadTypes.Dynamic).DataSelectType(DataSelectTypes.Radio).DynamicDataUrl(dataUrl).Render()

@Html.HiTreeSelect("mytree3").JavaScriptFiles(scriptList).StyleSheetFiles(cssList).DataLoadType(DataLoadTypes.Dynamic).DataSelectType(DataSelectTypes.Radio).DynamicDataUrl(dataUrl).Render()

静态数据演示
@Html.HiTreeSelect("mytree2").Text("dddddddddd").Value("ssss").JavaScriptFiles(scriptList).StyleSheetFiles(cssList).DataLoadType(DataLoadTypes.Static).DataSelectType(DataSelectTypes.Radio).StaticDataNodes(dataNodes).Render()

<a id="getBtn" >Get</a>
<br />

@Html.HiTextBox("myTextbox").Value("ssssssssssss").Render()

@Url.Action("Bar", "Main", new { area="Manage",id=6,password="ssss"})

<script type="text/javascript">
    $(document).ready(function () {
        $("#getBtn").click(function () {
            alert($("#mytree2_Value").val());
        })
    });
</script>


